<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Result</title>
</head>
<body>
    <h1>Adjusted Kelly Bet: <%= adjustedKellyBet %> Mana</h1>
    <a href="/">Calculate Again</a>
</body>
</html>
